.form {
    margin: 25px auto 50px auto;
    padding: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link {
    margin-right: 20px;
}

.field {
    margin-bottom: 20px;
}

.buttons {
    margin-top: 10px;
}
