$footer-links-width: 700px;

.footer {
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    border-top: 5px solid #e2e8f0;
}

.bgImage {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../assets/footer-bg.jpg') no-repeat center;
    background-size: cover;
}

.colorBg {
    background-blend-mode: luminosity;
    background-color: #319795;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: $footer-links-width;
}

.link {
    color: #fff;
    z-index: 1;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.line {
    border: 1px solid #fff;
    opacity: 0.2;
    width: $footer-links-width;
}

.subtitle {
    z-index: 1;
}