:root {
  --global-main-container-size: 900px;
  --global-z-index-modal: 90;
  --global-z-index-overlay: 80;
  --global-z-index-dropdown: 70;
  --global-z-index-header: 60;
  --global-z-index-footer: 50;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.17em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}
